# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Scalable Compilers for Heterogeneous Architectures Group
email: ramakrishna@iith.ac.in
description: > # this means to ignore newlines until "baseurl:"
  Compilers Group at IIT Hyderabad
baseurl: ""
#baseurl: "compilers.cse.iith.ac.in"
url: ""
#url: "compilers.cse.iith.ac.in"

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Collections for website data
collections:
  schedules:
# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: schedules
    values:
      layout: schedule

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins:
  - jekyll-last-modified-at
  - jemoji
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-scholar

# Optional. The default date format, used if none is specified in the tag.
last-modified-at:
    date-format: '%d-%b-%y'



scholar:
  style: apa
  locale: en

  sort_by: none
  order: ascending

  source: ./_bibliography
  bibliography: references.bib
  bibliography_template: 
    - bibtemplate
    - bibtemplate_project
  bibliography_template: bibtemplate

  replace_strings: true
  join_strings:    true

  details_dir:    _bibliography
  details_layout: bibtex.html
  details_link:   Details   
  query: "@*"


# Filter out certain bibtex entry keywords used internally from the bib output
filtered_bibtex_keywords:
  [
    shortname,
    short_title,
    domain,
    award,
    publication,
    project,
    publishedat,
    github_link,
    poster_link,
    slides_link,
    videos_link,
    arxiv_link,
    conference,
  ]
