
<div id="fufu">		
<p></p>
</div>

<div id="footer" class="panel" style="clear:both;position:relative; margin-bottom:2px; width:100%; height:100% ">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
          <p> &copy; {{ site.time | date: '%Y' }} IITH Compilers Team. 
          </p>
          <p>We are part of the 
          <a href="https://cse.iith.ac.in/" target="_blank">Dept of CSE</a> at 
          <a href="https://www.iith.ac.in" target="_blank">IIT Hyderabad</a>.
          </p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  IIT Hyderabad<br />
		  Kandi, Sangareddy<br />
		  Telangana-502284<br />
		  India <br />
            (<a href="https://goo.gl/maps/jrvHsnnwk432" target="_blank">Maps</a>,<a href="https://people.iith.ac.in/gian/images/IITH_KANDI%20CAMPUS%20ROUTE%20MAP.pdf" target="_blank">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/footer_placement.js"></script>
