---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Scalable Compilers for Heterogeneous Architectures Group</h1>

	{{ content }}
  </div>
   <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
  
  <div id="join-us"><p><strong>Interested in the work we do? Join us</strong> <a href="{{ site.url }}{{ site.baseurl }}/vacancies">(more info)</a> <strong>!</strong></p></div>  
  <figure class="fourth">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_IITH.png" style="height: 80px;padding-left: 30px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_LLVM.png" style="height: 80px;padding-left: 30px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_PollyLabs1.png" style="height: 80px;padding-left: 30px;width:180px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_AMD.png" style="height: 80px;padding-left: 30px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Meity.jpg" style="height: 85px; padding-left: 30px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Qualcomm.png" style="height: 80px;padding-left: 10px;width:180px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Intel.png" style="height: 70px;padding-left: 35px">
    <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_NSM.jpg" style="height: 65px; padding-left: 35px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/Logo_Google.jpg" style="height: 65px; padding-left: 35px">
  </figure>
 
